---
layout: archive
title: "Teaching Assistance"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

I had the opportunity to enhance my team working and leadership skills by teaching and mentoring students in various courses. I have been a teaching assistant for the following courses:

- **Formal Languages and Automata Theory**
  - *Spring 2022, Fall 2022, Spring 2023, Fall 2023, Spring 2024*
  - *Instructor: Prof. [Hossein Hojjat]()*
  - *ECE Department, University of Tehran*  

- **Software Testing**
  - *Fall 2024*
  - *Instructor: Prof. [Ehsan khamespanah](https://ece.ut.ac.ir/%7Ee.khamespanah)*
  - *ECE Department, University of Tehran*