---
layout: archive
title: "Teaching Assistance"
permalink: /teaching/
author_profile: true
---

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<div style="text-align: justify;">
I had the opportunity to enhance my team working and leadership skills by teaching and mentoring students in various courses. I have been a teaching assistant for the following courses:
</div>     
<br>
<ul>
  <li><strong>Formal Languages and Automata Theory</strong>
    <ul>
      <li><em>Spring 2022, Fall 2022, Spring 2023, Fall 2023, Spring 2024</em></li>
      <li><em>Instructor: Prof. <a href="https://ece.ut.ac.ir/~hojjat/">Hossein Hojjat</a></em></li>
      <li><em> Homework Designer and Grader (Spring 2022 -- Spring 2023)</em></li>
      <li><em> Head Teaching Assistant  (Fall 2024)</em></li>
    </ul>
  </li>
  
  <li><strong>Software Testing</strong>
    <ul>
      <li><em>Fall 2024</em></li>
      <li><em>Computer Assignment Designer</em></li>
      <li><em>Instructor: Prof. <a href="https://ece.ut.ac.ir/%7Ee.khamespanah">Ehsan Khamespanah</a></em></li>
    </ul>
  </li>

  <li><strong>Database Design</strong>
    <ul>
      <li><em>Spring 2024, Fall 2024</em></li>
      <li><em>Computer Assignment Designer</em></li>
      <li><em>Instructor: Prof. <a href="https://ece.ut.ac.ir/~shakery">Azadeh Shakery</a></em></li>
    </ul>
  </li>

  <li><strong>Design of Algorithm</strong>
    <ul>
      <li><em>Fall 2022, Fall 2023, Fall 2024</em></li>
      <li><em>Computer Assignment and Homework Designer, Grader</em></li>
      <li><em>Instructor: Prof. <a href="https://ece.ut.ac.ir/~106412331">Mohammad Javad Dousti</a></em></li>
    </ul>
  </li>
  
  <li><strong>Computer Aided Design</strong>
    <ul>
      <li><em>Fall 2023</em></li>
      <li><em>Computer Assignment Designer</em></li>
      <li><em>Instructor: Prof. <a href="https://ece.ut.ac.ir/%7Emodarressi">Mehdi Modarressi</a>, Prof. <a href="https://ece.ut.ac.ir/%7Emersali">Mostafa Ersali</a></em></li>
    </ul>
  </li>

  <li><strong>Data Structures</strong>
    <ul>
      <li><em>Spring 2022</em></li>
      <li><em>Grader</em></li>
      <li><em>Instructor: Prof. <a href="https://ece.ut.ac.ir/%7Ehfaili">Heshaam Faili</a></em></li>
    </ul>
  
</ul>